<div class="category-box">
  <ul>
    <li>
      <a href="/notice">공지사항<b>[<%= notice.length %>]</b></a>
    </li>
    <li>
      <a href="/">전체글보기<b>[<%= posts.length %>]</b></a>
    </li>
  </ul>
</div>
