<div class="nav_area" style="height: 56px">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">C.Hub</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <!-- 검색창 -->
      <div class="input-group mb-2">
        <input class="form-control" id="searchInput" />
        <button
          class="input-group-append btn btn-success"
          id="searchBtn"
          title="검색"
        >
          <i class="bi bi-search"></i>
        </button>
        <% if(user) { %>
        <a href="/write" title="글쓰기">
          <button class="input-group-append btn btn-primary">
            <i class="bi bi-pen"></i>
          </button>
        </a>
        <% } else { %>
        <a href="/write" class="loginCheck" title="글쓰기">
          <button class="input-group-append btn btn-primary">
            <i class="bi bi-pen"></i>
          </button>
        </a>
        <% } %>
      </div>
      <!-- 검색창 -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <% if(user){ %>
            <b> <%= user.name %> </b>
            <%}else{%>
            <b>Guest</b>
            <% }%>
          </a>
          <div class="dropdown-menu">
            <% if(user){ %>
            <a class="nav-link" href="/write">글쓰기</a>
            <a class="dropdown-item nav-link" href="/myPage">마이페이지</a>
            <a class="dropdown-item nav-link" id="logout" href="/myPage"
              >로그아웃</a
            >
            <%}else{%>
            <a class="nav-link" href="/login">로그인</a>
            <a class="nav-link" href="/signUp">회원가입</a>
            <%}%>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $("#logout").click((e) => {
    e.preventDefault();
    swal({
      title: "로그아웃 하시겠습니까?",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {
        $.ajax({
          method: "GET",
          url: "/logout",
        })
          .done((result) => {
            swal({
              title: "로그아웃 완료",
              icon: "success",
            }).then((res) => {
              window.location.href = "/";
            });
          })
          .fail((xhr, code, err) => {
            console.log(xhr, code, err);
          });
      }
    });
  });
</script>
