<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>write</title>
    <!-- 부트스트랩 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/main.css" />
  </head>
  <body>
    <%- include('nav.ejs') %>
    <div class="container">
      <form method="POST" action="/add" enctype="multipart/form-data">
        <div class="form-group">
          <label for="write_title">제목</label>
          <input
            type="text"
            class="form-control"
            name="title"
            id="write_title"
            required
          />
          <label for="write_content">내용</label>
          <textarea
            type="textarea"
            class="form-control"
            name="content"
            id="write_content"
            required
            wrap="hard"
          ></textarea>
        </div>
        <div class="flex write_submit_btn">
          <input type="file" name="profile" />
          <!-- <input type="file" name="profile" multiple/> 파일 여러개 업로드 할 때 사용-->
          <button type="submit" class="btn btn-danger submit" id="write_submit">
            작성
          </button>
        </div>
      </form>
      <div class="alert alert-warning mt-3" role="alert">
        파일명을 <b>영어</b>로만 작성해주세요
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(document).ready(() => {
        // textarea 값을 읽어와서 개행 문자를 <br> 태그로 변경하는 함수
        const processNewLines = () => {
          const textareaValue = $("textarea#write_content").val();
          const contentDiv = $("div#write_content");

          // 개행 문자(\r\n, \r, \n)을 <br> 태그로 변경하여 <div>에 적용
          const formattedText = textareaValue.replace(
            /(?:\r\n|\r|\n)/g,
            "<br>"
          );
          contentDiv.html(formattedText);
        };

        // textarea에서 키를 누를 때마다 개행 처리 함수 호출
        $("textarea#write_content").on("keydown", (e) => {
          // keyCode 13은 Enter 키를 의미
          if (e.keyCode === 13) {
            // textarea에서 개행 문자를 추가하여 내용 갱신
            const textarea = $("textarea#write_content");
            const currentValue = textarea.val();
            const cursorPosition = textarea.prop("selectionStart");
            const newValue =
              currentValue.substring(0, cursorPosition) +
              "\n" +
              currentValue.substring(cursorPosition);
            textarea.val(newValue);
            // 개행 처리 함수 호출하여 <div>에 적용
            processNewLines();
          }
        });

        // 게시글 작성 버튼 클릭 이벤트 처리
        $(".submit").click((e) => {
          // 내용이 개행 처리된 상태로 form 데이터 전송
          processNewLines();

          if (
            $("input#write_title").val().length > 0 &&
            $("div#write_content").html().length > 0 // <div>에 변경된 내용이 있을 때 검사
          ) {
            swal({
              title: "게시글을 작성하시겠습니까?",
              icon: "warning",
              buttons: true,
              dangerMode: true,
            }).done(
              swal("게시글을 작성했습니다.", {
                icon: "success",
              }).then((res) => {
                // 서버로 데이터 전송하는 부분 추가
                // window.location.href = `/`;
              })
            );
          }
        });
      });
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
